{% extends "portal/navbar_3.html" %}

{% block nome %}
    {{ categoria.nome }}
{% endblock %}

{% block back %}
    {% url 'grupo' grupoid %}
{% endblock %}



{% block body %}
    {% for post in categoria.posts.all %}
    <div class="publicacao">
        <a href="{% url 'post' post.id %}">
            <div class="titulo_post">{{ post.titulo }}</div>
            <div class="resumo_post">{{ post.publicacao }}</div>
        </a>
        <div class="bottom_post"><i class="material-icons" id="grupo_icon">account_circle</i>{{ post.autor }}<span>{{ post.data }}</span></div>
    </div>
    {% endfor %}
{% endblock %}