{% extends "portal/navbar_3.html" %}

{% block nome %}
    Novo grupo
{% endblock %}

{% block back %}
    {% url 'lista_grupos' %}
{% endblock %}

{% block body %}

<form action="{% url 'criar_grupo' %}" method="post">
    {% csrf_token %}
    <div class="blocos">
        <div id="form-criar">
            <ul>
                <li><span>Nome do grupo: </span>{{ grupo_form.nome }}</li>
                <li>Descrição:</li>
                <li>{{ grupo_form.descricao }}</li>
            </ul>
        </div>
    </div>
    <div id="baixo-publicar">
        <input type="submit" class="botao-publicar" value="Criar">
    </div>
</form>

{% endblock %}  