{% extends "portal/navbar_3.html" %}

{% block nome %}
    {{ grupo.nome }} / Nova categoria
{% endblock %}

{% block back %}
    {% url 'lista_categorias' grupo.id %}
{% endblock %}

{% block body %}

<form action="{% url 'criar_categoria' grupo.id %}" method="post">
    {% csrf_token %}
    <div class="blocos">
        <div id="form-criar">
            <span>Nome da categoria: </span><input autofocus type="text" name="nome" placeholder="Digite o nome da categoria">
        </div>
    </div>
    <div id="baixo-publicar">
        <input type="submit" class="botao-publicar" value="Criar">
    </div>
</form>

{% endblock %}