{% extends "portal/navbar_3.html" %}

{% block nome %}
    Editar perfil
{% endblock %}

{% block back %}
    {% url 'perfil' user_name %}
{% endblock %}

{% block body %}

    {{ numero }}

    {{ descricao }}

    <form action="{% url 'editar_perfil'%}" method="post">
        {% csrf_token %}
        {{ perfil_form.numero }}
        {{ perfil_form.descricao }}
        <div id="editar_perfil">
            <input type="submit" class="btn btn-primary" value="Editar">
        </div>
    </form>

{% endblock %}