{% extends "portal/navbar_1.html"%}

{% block body %}

{% for grupo in grupos %}
    <a href="/grupo/{{ grupo.id }}">
        <div class="bloco_lista_grupo"><i class="material-icons" id="grupo_icon">groups</i><span>{{ grupo.nome }}</span><i id="grupo_seta" class="material-icons">arrow_forward_ios</i></div>
    </a>
{% endfor %}

<a href="{% url 'criar_grupo' %}">
    <div class="bloco_lista_grupo"><i class="material-icons" id="grupo_icon">group_add</i><span>Criar novo grupo</span></div>
</a>

{% endblock %}