{% extends "portal/navbar_3.html" %}

{% block nome %}
    {{ user_name }}
{% endblock %}

{% block back %}
    {% url 'index' %}
{% endblock %}


{% block body %}
    <div class="blocos">
        <div class="descricao_grupo">
            <a id ="whatsapp" href="http://api.whatsapp.com/send?1=pt_BR&phone=55{{ numero}}"> <i id="whatsapp_icon" class="fa fa-whatsapp"></i>{{ numero }}</a>
        </div>
    </div>

    <div class="blocos">
        <div class="descricao_grupo">
            <h3>Sobre:</h3>
             {{ descricao }}
        </div>
    </div>

    {% if editar_visivel %}
    <div class="blocos">
        <div class="descricao_grupo">
            <i class="material-icons" id="grupo_icon">edit</i><a href="{% url 'editar_perfil'%}">Editar perfil</a>
        </div>
    </div>
    {% endif %}

{% endblock %}