{% extends "portal/navbar_3.html" %}

{% block nome %}
    {{ post.titulo }}
{% endblock %}

{% block back %}
    {% url 'index' %}
{% endblock %}

{% block body %}
    <div class="publicacao-cabeca">
        <div class="bottom_post">
            <i class="material-icons" id="grupo_icon">account_circle</i>
            {{ post.autor }}<span>{{ post.data }}</span>
        </div>
    </div>
    <div id="bloco-publicar">
        <div id="corpo-publicar">
            {% autoescape off %}
                <span>{{ publicacao|safe }}</span>
            {% endautoescape %}

        </div>

    </div>
    <div class="publicacao-pe">
        <form method="POST">
            {% csrf_token %}
            {% if post.importante %}
                <input id="botao-importante" type="submit" name="importante" value="Desfixar" />
            {% else %}
                <input id="botao-importante" type="submit" name="importante" value="Fixar no mural" />
            {% endif %}
        </form>

        <form method="POST">
            {% csrf_token %}
            {% if post in user.salvos.all %}
                <input id="botao-salvar" type="submit" name="salvar" value="Desguardar" />
            {% else %}
                <input id="botao-salvar" type="submit" name="salvar" value="Salvar" />
            {% endif %}
        </form>
    </div>
{% endblock %}