{% extends "portal/navbar_3.html" %}

{% block nome %}
    {{ post.titulo }}
{% endblock %}

{% block back %}
    {% url 'index' %}
{% endblock %}

{% block body %}
    <div class="publicacao-cabeca">
        <div class="bottom_post">
            <i class="material-icons" id="grupo_icon">account_circle</i>
            <a href="{% url 'perfil' post.autor %}">{{ post.autor }}</a><span>{{ post.data }}</span>
        </div>
    </div>
    <div id="bloco-publicar">
        
        <div id="corpo-publicar">
            <h1>{{ post.titulo }}</h1>
                <span>{{ publicacao|safe }}</span>

        </div>

    </div>
    <div class="publicacao-pe">
        <form method="POST">
            {% csrf_token %}
            {% if post.importante %}
                <input id="botao-importante" type="submit" name="importante" value="Desfixar" />
            {% else %}
                <input id="botao-importante" type="submit" name="importante" value="Fixar no mural" />
            {% endif %}
        </form>

        <form method="POST">
            {% csrf_token %}
            {% if post in user.salvos.all %}
                <input id="botao-salvar" type="submit" name="salvar" value="Desguardar" />
            {% else %}
                <input id="botao-salvar" type="submit" name="salvar" value="Salvar" />
            {% endif %}
        </form>
    </div>
    <div id="post-compartilhar">
        <div class="descricao_grupo">
            <i class="material-icons" id="grupo_icon">ios_share</i>
            <a href="https://api.whatsapp.com/send?text=http://manamano.pythonanywhere.com/post/{{ post.id }}">Compartilhar</a>
        </div>
    </div>


{% endblock %}