{% extends "portal/navbar_2.html" %}

{% block grupo %}
    {{ grupo.nome }}
{% endblock %}

{% block body %}
    <div class="blocos">
        <div class="descricao_grupo">
            <h3>Descrição:</h3>
            {{ grupo.descricao }}
        </div>
    </div>  
    {% if user in grupo.admin.all %}
    <div class="blocos">
        <div class="descricao_grupo">
            <i class="material-icons" id="grupo_icon">settings</i><a href="{% url 'configg' grupo.id %}">Configurações do grupo</a>
        </div>
    </div>
    {% endif %}

    <div class="blocos">
        <div class="descricao_grupo">
            <h3>Membros:</h3>
            <ul>
            {% for usuario in grupo.admin.all %}
                <li><a href="../../perfil/{{usuario.username}}"><i class="material-icons" id="grupo_icon">account_circle</i>
                {{ usuario.username }}</a>
                <span>Admin</span>
                {% if user in grupo.admin.all %}
                    <a href="#" class="mais_op">
                        <i class="material-icons" id="grupo_op_icon">more_vert</i>
                        <div class="grupo_user" >
                            <form method="POST">
                                {% csrf_token %}
                                <ul class="admin_opt">
                                    <input type="hidden" name="usuario" value="{{ usuario }}">
                                    <li><input type="submit" name="toggle_Admins" value="Remover dos Admins"/></li>
                                    <li><input type="submit" name="remover_do_grupo" value="Remover do grupo"/></li>
                                </ul>
                            </form>
                        </div>
                    </a>
                {% endif %}
                </li>
            {% endfor %}
            {% for usuario in grupo.usuarios.all %}
                <a href="../../perfil/{{usuario.username}}"><li><i class="material-icons" id="grupo_icon">account_circle</i>
                {{ usuario.username }}</a>
                {% if user in grupo.admin.all %}
                    <a href="#" class="mais_op">
                        <i class="material-icons" id="grupo_op_icon">more_vert</i>
                        <div class="grupo_user" >
                            <form method="POST">
                                {% csrf_token %}
                                <ul class="admin_opt">
                                    <input type="hidden" name="usuario" value="{{ usuario }}">
                                    <li><input type="submit" name="toggle_Admins" value="Adiconar aos Admins"/></li>
                                    <li><input type="submit" name="remover_do_grupo" value="Remover do grupo"/></li>
                                </ul>
                            </form>
                        </div>
                    </a>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>


{% endblock %}