#nav {
position: fixed;
z-index: 4;
display: inline-block;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
top: 0;
height: auto;
width: 100%;
-webkit-box-shadow: 0px 5px 10px rgba(10, 10, 10, 0.247);
        box-shadow: 0px 5px 10px rgba(10, 10, 10, 0.247);
border-bottom: 1px solid #477890;
background: #477890;
-webkit-transition: color 0.3s linear;
transition: color 0.3s linear;
}
#nav ul{
    margin-bottom: 0rem;
}
#nav .logo {
float: left;
font-size: 2.5rem;
font-weight: bold;
color: white;
margin: 20px;
padding: 10px 0 20px 30px;
}

#nav #navbar {
position: relative;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
margin-bottom: 10px;
padding-top: 10px;
}

#nav #navbar .control-buttons {
    float: right;
    padding: 10px;
}

#nav #navbar .control-buttons a {
color: white;
padding: 15px;
display: inline-block;
padding-left: 20px;
}

#nav #navbar .control-buttons a:focus:active, #nav #navbar .control-buttons a:active:active {
-webkit-animation: hover-fast-fade 0.4s ease;
animation: hover-fast-fade 0.4s ease;
}

@-webkit-keyframes hover-fast-fade {
0% {
    background-color: rgba(255, 255, 255, 0.158);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
100% {
    background-color: none;
}
}

@keyframes hover-fast-fade {
0% {
    background-color: rgba(255, 255, 255, 0.158);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
100% {
    background-color: none;
}
}

#nav #navbar .control-buttons a.search #search-box {
width: 100%;
height: 130px;
background: #00000000;
z-index: 15;
position: absolute;
top: 0;
left: 0;
display: none;
/* -webkit-box-shadow: 0 4px 3px rgba(44, 44, 44, 0.336);
box-shadow: 0 4px 3px rgba(44, 44, 44, 0.336); */
-webkit-animation: topRight 0.2s linear;
animation: topRight 0.2s linear;
padding: 2vw;
}
#nav #navbar .control-buttons a.search #search-box #barrinha input.search-form {
    border-radius: 10px;
}
#nav #navbar .control-buttons a.search #search-box #barrinha {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    align-self: stretch;
}
#nav #navbar .control-buttons a.search #search-box #escurecer {
    height: 100vh;
    width: 100vw;
    background-color: #00000099;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


@-webkit-keyframes topRight {
0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    top: -200px;
}
100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    top: 0;
}
}

@keyframes topRight {
0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    top: -200px;
}
100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    top: 0;
}
}

#nav #navbar .control-buttons a.search #search-box:focus, #nav #navbar .control-buttons a.search #search-box:hover, #nav #navbar .control-buttons a.search #search-box:active {
display: block;
}
#nav #navbar .control-buttons a.search #search-box #escurecer:focus,
#nav #navbar .control-buttons a.search #search-box #escurecer:hover,
#nav #navbar .control-buttons a.search #search-box #escurecer:active {
    display: none;
}

#nav #navbar .control-buttons a.search #search-box i {
position: absolute;
top: 0;
left: 0;
margin: 0;
font-size: 3rem;
color: #2274A5;
-webkit-transform: scaleX(-1);
        transform: scaleX(-1);
}

#nav #navbar .control-buttons a.search #search-box input.search-form {
width: 100%;
height: 100%;
border: 0;
outline: 0;
padding: 20px 10px 20px 60px;
font-size: 25px;
font-size: 2.5rem;
color: #747474;
caret-color: #2274A5;
-webkit-transition: 0.2s;
transition: 0.2s;
}

#nav #navbar .control-buttons a.search #search-box input.search-form::-webkit-input-placeholder {
color: #8e8e8e;
}

#nav #navbar .control-buttons a.search #search-box input.search-form:-ms-input-placeholder {
color: #8e8e8e;
}

#nav #navbar .control-buttons a.search #search-box input.search-form::-ms-input-placeholder {
color: #8e8e8e;
}

#nav #navbar .control-buttons a.search #search-box input.search-form::placeholder {
color: #8e8e8e;
}

#nav #navbar .control-buttons a.search:active #search-box,
#nav #navbar .control-buttons a.search:focus #search-box {
display: block;
}

#nav #navbar .control-buttons a.settings #settings-box {
height: auto;
background: white;
border: 1px solid #ececec;
border-radius: 2px;
margin: 5px;
z-index: 15;
position: absolute;
top: 0;
right: 0;
display: none;
-webkit-box-shadow: 5px 4px 17px rgba(80, 80, 80, 0.336);
box-shadow: 5px 4px 17px rgba(80, 80, 80, 0.336);
-webkit-animation: topRight 0.5s linear;
animation: topRight 0.5s linear;
border-radius: 0 0 0 20px;
padding: 20px 30px 20px 10px;
}

@keyframes topRight {
0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    top: -200px;
}
100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    top: 0;
}
}

#nav #navbar .control-buttons a.settings #settings-box:focus, #nav #navbar .control-buttons a.settings #settings-box:hover, #nav #navbar .control-buttons a.settings #settings-box:active {
display: block;
}

#nav #navbar .control-buttons a.settings #settings-box ul {
list-style-type: none;
}

#nav #navbar .control-buttons a.settings #settings-box ul li {
display: block;
color: #747474;
font-size: 2.2rem;
}

#nav #navbar .control-buttons a.settings #settings-box ul li:hover {
color: #414141;
-webkit-transition: color 0.3s ease;
transition: color 0.3s ease;
}

#nav #navbar .control-buttons a.settings #settings-box i {
position: absolute;
top: 0;
left: 0;
margin: 10px;
font-size: 2rem;
color: #2274A5;
-webkit-transform: scaleX(-1);
        transform: scaleX(-1);
}

#nav #navbar .control-buttons a.settings #settings-box input.search-form {
width: 100%;
border: 0;
outline: 0;
padding: 10px 10px 10px 60px;
font-size: 25px;
font-size: 1.8rem;
padding: 10px;
color: #747474;
caret-color: #477890;
-webkit-transition: 0.2s;
transition: 0.2s;
}

#nav #navbar .control-buttons a.settings #settings-box input.search-form::-webkit-input-placeholder {
color: #8e8e8e;
}

#nav #navbar .control-buttons a.settings #settings-box input.search-form:-ms-input-placeholder {
color: #8e8e8e;
}

#nav #navbar .control-buttons a.settings #settings-box input.search-form::-ms-input-placeholder {
color: #8e8e8e;
}

#nav #navbar .control-buttons a.settings #settings-box input.search-form::placeholder {
color: #8e8e8e;
}

#nav #navbar .control-buttons a.settings:active #settings-box,
#nav #navbar .control-buttons a.settings:focus #settings-box {
display: block;
}

#nav ul.menu-below {
list-style-type: none;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
height: 80px;
width: 100%;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
position: relative;
}

#nav ul.menu-below li {
width: calc(87% / 3);
height: 100%;
position: relative;
}

#nav ul.menu-below li a {
font-weight: 600;
font-size: 2.2rem;
color: #dddddd;
text-decoration: none;
text-align: center;
text-transform: uppercase;
height: 100%;
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

#nav ul.menu-below li a:active {
color: white;
}
.ativo{
    color: white;
}

#nav ul.menu-below li a:after, .ativo {
content: '';
border-bottom: 4px solid white;
position: absolute;
display: block;
height: 2px;
bottom: -1px;
left: 0;
width: 0;
-webkit-transition: color 0.3s linear;
transition: color 0.3s linear;
}

#nav ul.menu-below li a:hover:after {
color: #fff;
width: 100%;
}

#nav ul.menu-below li.camera {
width: 12%;
}

#nav ul.menu-below li.camera a:hover:after {
color: #000;
width: 0;
}

#nav i {
color: #cccccc;
font-size: 4rem;
}

#nav .arrow_back{
    float: left;
    padding-top: 20px;
    padding-left: 25px;
}

#nav #lupa{
    padding-right: 30px;
}

.btn-pesquisar{
    float: right;
    font-size: 1.9rem;
    padding: 15px 30px 20px 40px;
    background-color: #fff;
    border-radius: 10px;
    font-weight: bold;
}

#settings-box button{
    background-color: white;
    border: none;
    padding: 20px;
    font-weight: 600;
}


