.main {
    position: relative;
}

.corpo {
    padding-top: 235px;
    padding-bottom: 5vh;
}
body{
    background-color: whitesmoke;
}

.bloco_lista_grupo{
    width: 90%;
    height: 150px;
    margin: auto;
    border-bottom: 3px solid #477890;
    font-size: 2.5rem;
    color: #747474;
    padding: 30px;
}
.bloco_lista_grupo span{
    padding-left: 50px;
    float:left;
    padding-top: 15px;
    font-weight: bold;
}


#grupo_seta{
    float: right;
}

.bloco_lista_grupo i{
    font-size: 5rem;
}

#grupo_icon{
    float:left;
}

.blocos{
    background-color: white;
    width: 100%;
    padding: 3%;
    border-bottom: 1px solid grey;
    box-shadow: 0 0 30px #ccc;
    margin-top: 25px;
}

.descricao_grupo{
    margin: auto;
    width: 90%;
    font-size: 2.3rem;
}

h3{
    font-size: 2.5rem;
}
.descricao_grupo a#whatsapp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.descricao_grupo a, .descricao_grupo i{
    color: #477890;
}

.descricao_grupo i{
    font-size: 4rem;
    padding-right: 15px;
}

.descricao_grupo ul{
    list-style-type: none;
    padding: 0;
}

.descricao_grupo li{
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid grey;
}

.descricao_grupo li i{
    font-size: 5rem;
    color: #747474;
}
.descricao_grupo li {
    font-size: 2.5rem;
}

.descricao_grupo li span{
    font-size: 2.2rem;
    color: #747474;
    padding-left: 20px;
}

#whatsapp_icon{
    font-size: 5.5rem;
    color: green;
    padding-right: 30px;
}

#telefone_perfil{
    margin-left: 10px;
    font-size: 2.5rem;
    padding-top: 0;
    color: #477890;
}

 /* -------------------------------------------------- */

.publicacao{
    width: 90%;
    margin: auto;
    box-shadow: 0 0 30px #ccc;
    border-radius: 60px;
    height: 320px;
    background-color: #CDDDDD;
    margin-top: 50px;
}
.publicacao a{
    width: 100%;
}

.titulo_post{
    height: 70px;
    border-radius: 60px 60px 0 0 ;
    background-color: #477890;
    font-size: 2.2rem;
    color: white;
    font-weight: 600;
    padding-left: 40px;
    padding-top: 10px;
    width: 100%;
}

.titulo_post i{
    float: right;
    padding-left: 30px;
    font-size: 3rem;
    color: #EF4136;
}

.titulo_post span{
    float: left;
}

.resumo_post{
    font-size: 2.1rem;
    padding: 10px 40px 10px 40px;
    overflow: hidden;
    font-weight: 500;
    height: 160px;
    /*text-overflow: ellipsis;
    white-space: nowrap;*/
    display: -webkit-box;   
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: black;
}

.bottom_post{
    margin-top: 10px;
    padding-left: 40px;
    font-size: 2.1rem;
    font-weight: 600;
    color: #477890;
}

.bottom_post i{
    font-size: 4rem;
    padding-right: 10px;
}

.bottom_post span{
    margin-top: 10px;
    padding-right: 40px;
    float: right;   
    font-size: 1.8rem;
    color: #747474;
}
/*----------tornar usuario admin em sobre----------------*/

#grupo_op_icon{
    float: right; 
}
.grupo_user{
    display: none;
    z-index: 15;
    position: absolute;
    float: right;
    background: white;
    border: 1px solid #ececec;
    border-radius: 25px;
    padding: 20px;
    right: 5%;
    -webkit-box-shadow: 5px 4px 17px rgba(80, 80, 80, 0.336);
    box-shadow: 5px 4px 17px rgba(80, 80, 80, 0.336);
    margin-top: 1vh;
}    
.grupo_user ul.admin_opt input {
        background-color: #00000000;
        border: none;
}
.grupo_user .admin_opt li:last-child{
    border: none;
}

.mais_op:active .grupo_user, .mais_op:focus .grupo_user{
    display: block;
}
.mais_op{
    float:right;
}

/*------------publicar------*/

#bloco-publicar{
    width: 90%;
    margin: auto;
    box-shadow: 0 0 30px #ccc;
    border-radius: 60px;
    height: auto;
    background-color: #CDDDDD;
}

#titulo-publicar{
    height: 100px;
    border-radius: 60px 60px 0 0 ;
    background-color: #477890;
    font-size: 2.2rem;
    color: white;
    font-weight: 600;
    padding-left: 5%;
    padding-top: 10px;
    width: 100%;
}

#titulo-publicar input{
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    margin-left: 20px;
    width: 60%;
}

#campo-titulo-publicar{
    padding-top: 15px;
}
#corpo-publicar{
    height: 80%;
    padding-top: 30px;
    width: 90%;
    margin: auto;
    font-size: 2.1rem;
    padding-bottom: 40px;
}
#corpo-publicar textarea{
    border-radius: 10px;
    border: none;
    width: 100%;
    font-size: 2.1rem;
    resize:none;
}

#baixo-publicar{
    width: 90%;
    margin: auto;
    padding-top: 10px;
}

.botao-publicar{
    float: right;
    padding: 20px 50px 20px 50px;
    margin-top: 30px;
    border-radius: 50px;
    font-size: 2.2rem;
    background-color: #477890;
    color: white;
    font-weight: 600;
    border: none;
    box-shadow: 0 0 30px #ccc;
}

/*--------------escolher grupo -------*/
.checkmark{
    height: 60px;
    width: 60px;
    background-color: #eee;
    border-radius: 50%;
    float: right;
    margin-top: 15px;
}
.bloco_lista_grupo input:checked ~ .checkmark{
    background-color: #477890;
}

.show-cat-escolher{
    margin-left: 60px;
    display: none;
    -webkit-animation: showcat 0.5s linear;
    animation: showcat 0.5s linear;
}
@keyframes showcat {
    0% {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
    100% {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
    }

.cat-escolher:active .show-cat-escolher, .cat-escolher:focus .show-cat-escolher{
    display: block;
}

.bloco_lista_grupo input:checked ~ .checkmark ~ .show-cat-escolher {
    display: block;
}

#publicar-cat{
    width: 90%;
    margin: auto;
}

/*---------------post--------*/
#botao-importante{
    float: right;
    font-size: 2rem;
    background-color: #EF4136;
    color: white;
    padding: 15px 40px 15px 40px;
    border: none;
    font-weight: 600;
    border-radius: 50px;
    margin-right: 5%;
}

#botao-salvar{
    float: right;
    font-size: 2rem;
    background-color:#477890;
    color: white;
    padding: 15px 40px 15px 40px;
    border: none;
    font-weight: 600;
    border-radius: 50px;
    margin-right: 20px;
}

.publicacao-cabeca{
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}
.publicacao-pe{
    width: 90%;
    margin: auto;
    padding-top: 30px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
 }
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }

/*------------forms criar-----------*/

#form-criar input{
    font-size: 2.2rem;
    border-radius: 10px;
    border: 2px solid #8e8e8e;
    margin-left: 30px;
    width: 60%;
    padding: 10px;
    padding-left: 30px;
}

#form-criar ul{
    list-style-type: none;  
}

#form-criar li{
    width: 90%;
}

#form-criar span{
    width: 40%;
}

#form-criar{
    font-size: 2.2rem;
    font-weight: 600;
}

#form-criar textarea{
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 2.2rem;
    border: 2px solid #8e8e8e;
    padding-left: 30px;
    padding-top: 10px;
}

/*-----------login-page----------*/
#login-page img{
    margin: auto;
}

#login-page #bloco-publicar{
    height: 630px;
    width: 70%;
    text-align: center;
}

#login-page input, #register-page input{
    max-width: 600px;
    font-size: 2.2rem;
    margin: auto;
    border-radius: 15px;
    padding: 15px;
}

#form-login{
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

#login-page #bloco-publicar img, #register-page #bloco-publicar img{
    padding-top: 40px;
}

.botao-login{
    border-radius: 15px;
    background-color: #477890;
    border: none;
    padding: 15px 30px 15px 30px !important;
    color: white;
    font-weight: 600;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
}
#bloco-publicar span{
    font-size: 1.9rem;
}

#register-page #bloco-publicar{
    height: 900px;
    width: 70%;
    text-align: center;
}

#mensagem-erro{
    font-size: 1.9rem;
    color: #EF4136;
}

/*------------editar-perfil------*/
#editar-perfil input{
    font-size: 2.2rem;
    border-radius: 10px;
    border: 2px solid #8e8e8e;
    width: 60%;
    padding: 10px;
    padding-left: 30px;
}
#editar-perfil textarea{
    width: 100%;
    border-radius: 10px;
    border: 2px solid #8e8e8e;
    padding: 10px;
    padding-left: 30px;
}
#editar-perfil-baixo{
    text-align: center;
}
#editar-perfil-baixo .botao-publicar{
    float: none;
}
/* Tornar Responsivo para desktop ---------------------- */
@media only screen and (min-width: 1000px) {
    body {
        zoom: 0.4;
        width: 60%;
    }
}



